html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: burlywood;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

body {
    margin: 0;
}

header {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

.book-cover {
    height: auto;
    width: 200px;
    display: grid;
    grid-row: span 5;
    column-gap: 24px;
}

.main-page-book-review {
    background-color: white;
    padding: 24px;
    border: 1px solid lightblue;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

main {
    margin: auto;
    max-width: 800px;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
  }

.book-review-form {
    background-color: white;
    padding: 24px;
}
